@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Raleway;
  src: url(./assets/fonts/Raleway-VariableFont_wght.ttf);
}

body {
  margin: 0;
  font-family: Raleway;
  font-style: normal;
  color: #27272a;

  text-align: left;
  width: auto;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
