@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Raleway;
  src: url(./assets/fonts/Raleway-VariableFont_wght.ttf);
}

/* custom colors */
:root {
  --primary: #16a34a;
  --primary-dark: #166534;
  --primary-light: #bbf7d0;
  --gray-400: #a1a1aa;
  --gray-600: #52525b;
  --gray-600-opacity-50: rgb(82, 82, 91, 0.5);
  --gray-800: #27272a;
  --white: #ffffff;
  --transparent: rgba(0, 0, 0, 0);
  --red: #f87171;
}

body {
  margin: 0;
  font-family: Raleway;
  font-style: normal;
  color: #27272a;

  text-align: left;
  width: auto;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* markdown editor article preview - overwrite default style */
.wmde-markdown {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  /* unfortunately this doesn't work properly
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; */
}
