.veda-versum-button {
    border: 1px solid lightseagreen;
    color: lightseagreen;
    background: none;
}

.user-name {
    border-radius: 5%;
    border: 1px solid lightseagreen;
    color: lightseagreen;
    background-color: white;
}

a {
    color: lightseagreen;
}

.user-name-circle {
    border-radius: 50%;
    background-color: lightseagreen;
    color: black;
}

.article-image {
    width: 150px; /* todo: change this */
}
