.veda-versum-button {
    border: 1px solid lightseagreen;
    color: lightseagreen;
    background: none;
}

.active-button {
    background-color: lightseagreen;
    color: black;
}


.user-name {
    border-radius: 5%;
    border: 1px solid lightseagreen;
    color: lightseagreen;
    background-color: white;
}

a {
    color: lightseagreen;
}

.user-name-circle {
    border-radius: 50%;
    background-color: lightseagreen;
    color: black;
}

.article-image {
    width: 150px; /* todo: change this */
}

.notification-icon {
    width: 40px; /* todo: change this */
}

.header {
    color: lightseagreen;
}

.veda-versum-border {
    border: 1px solid lightseagreen;
}

.articles-tab {
    border: 1px solid lightseagreen;
    border-bottom: none;
    color: lightseagreen;
    background-color: white;
}

.active-tab {
    background-color: lightseagreen;
    color: black;
}