// import font
@font-face {
  font-family: Raleway;
  src: url(/assets/fonts/Raleway-VariableFont_wght.ttf);
}

// import colors
@import "_colors.scss";

* {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: $gray-600;

  text-align: left;
  width: auto;
  height: auto;
}

h1 {
  font-size: 64px;
  font-weight: 500;
  line-height: 96px;
}

h2 {
  font-size: 36px;
  font-weight: 500;
  line-height: 54px;
}

.app {
  display: flex;
  padding: 24px;
  margin: 0 10%;
}

.center-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

/* Button/Primary */
.veda-versum-button {
  background: $primary;
  border-radius: 8px;
  border: none;

  font-size: 16px;
  color: #ffffff;
  text-align: center;

  padding: 8px 16px;
  gap: 8px;

  &:hover {
    box-shadow: 0px 0px 0px 4px $primary-shadow;

    &:active {
      background: $primary-dark;
    }
  }
}

/* .avatar-image {
} */

// +++++++++++++++++++++++++++++++++++++++
// ++++++++++++++ old CSS ++++++++++++++++
// +++++++++++++++++++++++++++++++++++++++
a {
  color: $primary;
  text-decoration: none;
}

/*
 .veda-versum-button:enabled {
  border: 1px solid $primary;
  color: $primary;
  background: white;
}

.veda-versum-button:hover:enabled {
  background: black;
  color: $primary;
}

.active-button:enabled {
  background-color: black;
  color: $primary;
} */

.user-name {
  border-radius: 5%;
  border: 1px solid $primary;
  color: $primary;
  background-color: white;
}

.user-name-circle {
  border-radius: 50%;
  background-color: $primary;
  color: black;
}

.article-image {
  width: 150px; /* todo: change this */
}

.notification-icon {
  width: 40px; /* todo: change this */
}

.header {
  color: $primary;
}

.veda-versum-border {
  border: 1px solid $primary;
}

.articles-tab {
  border: 1px solid $primary;
  border-bottom: none;
  color: $primary;
  background-color: white;
}

.active-tab {
  background-color: $primary;
  color: black;
}
